h1{
    color: rgb(0, 0, 0);
    text-align: center ;
}


h3{
    color: rgb(110, 186, 240);
}

body{
    background-color: rgb(213, 252, 255);
    color: rgb(0, 0, 0);
    
}
ol{
    color: rgb(75, 120, 145);
}

ul{
    color: rgb(75, 120, 145);
}
